<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aishang5wpj.juheDemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".juhe02.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".juhe02.ToolbarActivity">
        </activity>
        <activity
            android:name=".juhe02.AppBarLayoutActivity">
        </activity>
        <activity
            android:name=".juhe02.CoordinatorLayoutActivity">
        </activity>
        <activity
            android:name=".juhe02.CollapsingToolbarLayoutActivity">
        </activity>
    </application>
</manifest>