<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.aishang5wpj.juhenews"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_import_contacts_white_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.news.newsdetail.NewsDetailActivity"
            android:label="新闻详情"
            android:theme="@style/AppTheme.NoActionBar.Translucent">
        </activity>
        <activity
            android:name=".main.news.newsdetail.NewsDetailImagesActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">

        </activity>
        <activity
            android:name=".main.picture.PictureDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".main.movie.moviedetail.MovieDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">

        </activity>
    </application>

</manifest>